<!DOCTYPE html>
<html>

<head>
    <% include src/ejs/head.ejs %>
        <title>查看物流</title>
</head>

<body>
    <div id="app">
        <% include src/ejs/loading.ejs %>
    </div>
    <% include src/ejs/footer.ejs %>
        <!-- built files will be auto injected -->
</body>

</html>