/* 公用样式，icon */

.icon-check {
  display: inline-block;
  float: left;
  width: 18px;
  height: 50px;
  margin-right: 5px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAVFBMVEUAAACampqioqKZmZmampqampqampqampqcnJyqqqqampqampqampqampqbm5v///+ZmZn5+fn09PTw8PDm5ubR0dHPz8/Jycm7u7uxsbGdnZ3d3d2KAK0RAAAAD3RSTlMAvRDz2cWQUTsDXdaioVxmAFd6AAAA6klEQVQ4y42UWRaEIAwEEfeVxn25/z2H6OhTB5jUdz9SBBJxRzZ1EIVhFNSNFHbSADeC1BLJYryIs1ckT0AsQ99p3fXDAiLJHzJUaZ20utDTSjXlLVMCmFv1oJ0BlFcqp3NG9cNIZ50VyWdTFjby+t7rPMd+1nHH2PgoB8Yr3nsIrK0r1K4AddVYT8rJZNzN9QFod0gDkKIAFuVhAQpRAYMvNAAVKfW+UE9SEdD5Qh0QiXD39pqHrBCrHE+8/t+CmtPMhvUsnAdmfRXOp2N9X84gsEaKM5ycMWcvDP7q4S8xQhbVsQ6r4iHzAbrdPVnePehPAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.icon-shop {
  display: inline-block;
  float: left;
  width: 18px;
  height: 50px;
  margin-right: 5px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAe1BMVEUAAABmZmZmZmZmZmZmZmZpaWlmZmZoaGhsbGxmZmZmZmZkZGR3d3dnZ2dpaWlmZmZmZmaKiopnZ2dmZmZnZ2dnZ2dnZ2dmZmZoaGhoaGhnZ2dnZ2dpaWlqampmZmZnZ2dmZmZnZ2dmZmZmZmZnZ2dmZmZnZ2dnZ2dmZmY+hk1GAAAAKHRSTlMAHuHm+xnrKBDXyzgHWjP4zwOckonzuXRpT0dAFxS+U+/HsYKwr6Z+1CmDegAAATRJREFUOMu1ksmWgyAQRUEU0QbBeYoZe3j//4WtqejJIqQ7i9yFPk7dU7wF7P/suIfdaqhCwoss1NUJABF4EECwWAVOnHnhJxTzT4IcnwU5d4ZgTxHYsehvKXqTlOk16cwnDajWWGG4lzSgtkm6TtLNV8C838HQMXewnCK3cDlFA3f9ShpdEGKvr432c7yQLmnHJ45drMYzwiFA0kdRnyAYQpxHFXdHfN1uJeSBxY6ii9lBUlwbA420STktvdq0rtN26TOViZUNwIg5eHm/lLXf1SF/KukSC2n8TCpgS9MmEMovjaiXHbpB4Zcq/NyetvBLe4wUAkReKUVGIUH8uiQx+aQJkhENOp/UoWFEj9rkj6Tc1OjZjRKwAWEREoCYDyjZhnEhHhA6w+7RnMg+NjjX7AV+AbbXK771Kk31AAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

.icon-check-active {
  background-size: 36px;
  background-image: url("../images/checked.png");
}

.icon-arrow {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAYAAAC58NwRAAAAAXNSR0IArs4c6QAAAUVJREFUKBWNk+tKw0AQhZu1z+MLiVLFJCAIKhatF/xTr1RQxB/JIlYfyQdK/M7YgaZJWxeSnZ0558zZzabXY5Rl+cZzqHjdSAC+13V9IGCSJEdZlr2uIgXAPwBrgYhfiqI4XkVIVKRLylRAsDXxaZ7nz6otjqAENiLgzDuRmsQYh4tgrV3RanTagxhZmBAC54g9WnH2ahCUgzSA9EFoJOYR9h5U0/Dk34o3itMQwi5hNUveY+/CAS2CCmmafmNnQGikqqpu6XylWsuSkj4AbRF/YXFDOURuOjs4oWte2gH1bZSnkEwU9Wv2N+4ksMkdfH86mEO4ZF936tiypGOdB4MZOViERgfAjQ9H/Yxv8CSgj74HXLp94pLHRPA8xPPE6z4bAeXW5QPcfflQzmHP39STZTdVXfq03uT43MbaH8isYenfv+gvsKGMn0CKmQMAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
}

.icon-cancel {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAATlBMVEUAAACfn5+qqqqbm5uampqampqampqampqZmZmmpqaZmZmampqampqbm5ubm5uampqampqZmZmampqampqampqbm5ubm5uampqZmZmZmZli26NGAAAAGXRSTlMAFQiAQue+rdML7vLUKSXZxKWicm9eUjrilPrdEAAAAUVJREFUOMudlVuWgjAQRCshkJeGl4i1/43OjKN0iChqfXLuodOXToN10tg3bYxt048JT6MqxyyuUpuYryIZhskk75OZhkDGyj9y55q0RssDbSxZn0uuIrsZReaOrJBHW/KEjZxIqyGxDAabMYE2rxuOeJJjkOpn0uBpDHnryNdyvu1z1v5WuMPLdP/FVeT8GpwZ1fWFdmm+U7kyp+/Pr690NFLDqYVreNFLPw5IDItRdfglF65elOnAhJEDsCKFWzJwRM8JJVlymNijoUFJlhwMG7RMKMhDySGxRaRHSZYcPKOAmRe26hGU0uKlFZ9SWpoRf3/nVEUzoif3LKToEeHCCSnC5RMKJ2T2CVdDYa+cmIcMxXrM3CXzp1zwMmbrwdV6bS8b3HevwtuX67Prur8APlwp+0vqi7W3v0j3V/PXy37/9/ED+r8bNE3AmtsAAAAASUVORK5CYII=');
  background-repeat: no-repeat;
}
